@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Playfair+Display:wght@700&display=swap');

$montserrat: 'Montserrat', sans-serif;
$playfair: 'Playfair Display', serif;

$color-primary: #fff;
$color-primary-darker: #C4C4C4;
$color-primary-the-darkest: #7B7B7B;

$color-secondary: #000;
$color-secondary-lighter: #282828;

$color-accent: #998431;
$color-accent-lighter: #E6E3C4;